{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% trans "Democratic Jukebox - your democratic music player" %}</title>
        <meta name="description" content="{% trans 'Democratic Jukebox - your democratic music player' %}">
        <meta charset="UTF-8"/>
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
        <link type="text/css" rel="stylesheet" href="/static/css/music.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">
                    <img src="/static/img/jukebox.png" alt="{% trans 'Jukebox logo' %}" width="156" height="40" />
                </a>
            </div>
            <div id="profile" title="{% trans 'Account options' %}">
                <span class="username">{{ username }}</span>
                <span class="options"></span>
            </div>
            <div id="search">
                <div class="searchbox">
                    <form action="/api/v1/songs" method="get" id="searchform">
                        <label for="term" class="invisible">{% trans 'Search term' %}</label>
                        <input type="text" name="term" id="term" maxlength="100" class="searchterm" />
                        <span id="searchoptions" class="options"></span>
                        <span class="searchsubmit">{% trans 'Search' %}</span>
                        <button type="submit" class="invisible"></button>
                    </form>
                </div>
            </div>
            <div id="currentSong">
                <strong>
                    {% trans 'Now playing' %}
                </strong>
                <br />
                <span class="songTitle"></span>
                <span class="timeRemaining"></span>
            </div>
        </div>
        <div id="content">
            <div id="sidebar">
                <h1>
                    {% trans 'Navigation' %}
                </h1>
                <ul>
                    <li>
                        <a href="/api/v1/queue" class="loadList loadQueue">
                            {% trans 'Queue' %}
                        </a>
                    </li>
                    <li>
                        <a href="/api/v1/history" class="loadList loadHistory">
                            {% trans 'History' %}
                        </a>
                    </li>
                    <li class="second">
                        <a href="/api/v1/history/my" class="loadList loadMyHistory">
                            {% trans 'My History' %}
                        </a>
                    </li>
                    <li>
                        <a href="/api/v1/favourites" class="loadList loadFavourite">
                            {% trans 'Favourites' %}
                        </a>
                    </li>
                </ul>

                <h1>
                    {% trans "Music" %}
                </h1>
                <ul>
                    <li>
                        <a href="/api/v1/songs" class="loadList loadSongs">
                            {% trans 'Songs' %}
                        </a>
                    </li>
                    <li>
                        <a href="/api/v1/artists" class="loadList loadArtists">
                            {% trans 'Artists' %}
                        </a>
                    </li>
                    <li>
                        <a href="/api/v1/albums" class="loadList loadAlbums">
                            {% trans 'Albums' %}
                        </a>
                    </li>
                    <li>
                        <a href="/api/v1/genres" class="loadList loadGenres">
                            {% trans 'Genres' %}
                        </a>
                    </li>
                    <li>
                        <a href="/api/v1/years" class="loadList loadYears">
                            {% trans 'Years' %}
                        </a>
                    </li>
                </ul>
            </div>
            <div id="main_spacer"></div>
            <div id="main">

            </div>
        </div>
        <div id="searchdetails">
            <form action="/api/v1/songs" method="get" id="searchdetailsform">
                <div class="option">
                    <label for="search_title">{% trans 'Title' %}:</label>
                    <input type="text" name="search_title" id="search_title" />
                </div>
                <div class="option">
                    <label for="search_artist">{% trans 'Artist' %}:</label>
                    <input type="text" name="search_artist" id="search_artist" />
                </div>
                <div class="option">
                    <label for="search_album">{% trans 'Album' %}:</label>
                    <input type="text" name="search_album" id="search_album" />
                </div>
                <div class="option">
                    <label for="search_genre">{% trans 'Genre' %}:</label>
                    <select name="search_genre" id="search_genre">
                        <option value="">{% trans "All genres" %}</option>
                        {% for genre in genres %}
                            <option value="{{ genre.id }}">{{ genre.Name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="option">
                    <label for="search_year">{% trans 'Year' %}:</label>
                    <select name="search_year" id="search_year">
                        <option value="">{% trans 'All years' %}</option>
                        {% for year in years %}
                            <option value="{{ year.Year }}">{{ year.Year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="option">
                    <span class="searchreset">{% trans 'Reset' %}</span>
                    <span class="searchsubmit">{% trans 'Search' %}</span>
                    <button type="submit" class="invisible"></button>
                </div>
            </form>
        </div>
        <div id="accountoptions">
            <h1>{%  trans 'Switch language' %}</h1>
            <ul>
                <li>
                    <a href="/language/set/en">{% trans 'English' %}</a>
                </li>
                <li>
                    <a href="/language/set/de">{% trans 'German' %}</a>
                </li>
            </ul>
            <h1>{% trans 'Misc' %}</h1>
            <ul>
                <li>
                    <a href="/logout">{% trans 'Logout' %}</a>
                </li>
            </ul>
        </div>
        <div id="csrf_token">
            {% csrf_token %}
        </div>
        <script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
        <script type="text/javascript" src="/static/js/music.js"></script>
    </body>
</html>
